{% extends 'base.html' %}

{% block content %}

<div class="row">
    <div class="col-sm-12">
       <div class="card">
          <div class="card-body">
            {% if messages %}
                        {% for message in messages %}
                        {% if message.tags == 'info' %}
                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                           {{message}}
                           <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                           <span aria-hidden="true">&times;</span>
                           </button>
                        </div>
                        {% endif %}
                        {% endfor %}
                        {% endif %}
             <form method="post" action="{% url 'add_product' %}">
               {% csrf_token %}
                <div class="row">
                   <div class="col-12">
                      <h5 class="form-title"><span>Product Information</span></h5>
                   </div>

                   

                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Product Name</label>
                         <input type="text" class="form-control" name="name">
                      </div>
                   </div>
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Product ID</label>
                         <input type="text" class="form-control" name="unique_id">
                      </div>
                   </div>
                   
                   <div class="col-12 col-sm-6">
                      <div class="form-group">
                         <label>Category</label>
                         <select class="form-control" name="category_id">
                            <option>Select Category</option>
                            {% for i in category %}
                            <option value="{{i.id}}">{{i.name}}</option>
                            {% endfor %}
                         </select>
                      </div>
                   </div>

                   <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>Brand</label>
                        <select class="form-control" name="brand_id">
                           <option>Select Brand</option>
                           {% for i in brand %}
                           <option value="{{i.id}}">{{i.name}}</option>
                           {% endfor %}
                        </select>
                     </div>
                  </div>

                  <div class="col-12 col-sm-6">
                     <div class="form-group">
                        <label>Supplier Name</label>
                        <select class="form-control" name="supplier_id">
                           <option>Select Supplier</option>
                           {% for i in supplier %}
                           <option value="{{i.id}}">{{i.name}}&nbsp-&nbsp {{i.mobile_sup}}</option>
                           {% endfor %}
                        </select>
                     </div>
                  </div>

               
                   
               <div class="col-12 col-sm-6">
                  <div class="form-group">
                     <label>Quantity Received</label>
                     <input type="number" min="0" class="form-control" name="receive_quantity">
                  </div>
               </div>
                   <div class="col-12">
                      <button type="submit" class="btn btn-primary">Add Product</button>
                   </div>
                </div>
             </form>
          </div>
       </div>
    </div>
 </div>

{% endblock %}